<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Author" content="Expert Signals" >
    <meta name="description" content="Get accurate signals on the most profitable coins and crypto assets to buy">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="keywords" content="Expert Signals, expertsignals.co, trading bitcoin, shitcoin, defi, blockchain, Expertsignals.xyz, crypto, crypto signals, cryptocurrency signals, cryptocurrency forcasts, nigeria crypto, bitcoin, altcoin, ethereum, ether, Dodgecoin, dodge, meme coin, meme, best signlas platform in nigeria, nigeria's best cruptocurrency signals platform, make money online, make money online with crypto, binance, crypto binance, crypto finance, whatsapp, telegram">
    <meta name='target' content='all'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Seo tags -->
    <meta property="og:title" content="Get Accurate Crypto Signals from expert signals" />
    <meta property="og:description" content="Make money trading crypto" />
 
    <!-- Auth -->
   
    <!-- fonts and css -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/anime_.css">

   
    <!-- <link rel="manifest" href="main.webmanifest"> -->
    <title>Expert Signals</title>

</head>
<body>
   
     <div class="menu animate__animated animate__slideInRight ">
        <ul>
            <li class="animate_animated  animate__fadeInUp">About</li>
            <li class="animate_animated animate__fadeInUp">SignUp</li>
             <li class="animate_animated animate__fadeInUp">Sign In</li>
        </ul>

        <div class="round"></div>
        <div class="round1"></div>
        <div class="round2"></div>
    </div>
    <header>
        <div id="sticker" class="wrap">
           <div class="logo">
            <h3>
                ExSignals
            </h3>
            
           </div>
           <nav>
               <ul>
                   <li><a href="">About</a></li>
                   <hr>
                <li><a href="">Contact</a></li>
                <hr>
                   <li><a href="">Register</a></li>
               </ul>
           </nav>
           <div class="menu-bar">
               <i class="ri-menu-line"></i>
           </div>
        </div>
        
        @!section('intro')
      
       
    </header>
        
@!section('content')

    <footer>
        <div class="wrap">
            <div class="sideBYside">
                <div class="Resource">
                    <ul>
                         <h3>Resource</h3>
                        <li>About</li>
                        <li>Forum</li>
                        <li>Questions?</li>
                    </ul>
                </div>
        
                <div class="contact">
                    <ul>
                         <h3>Contact</h3>
                        <li>hello@expertsignals.xyz</li>
                        <li>+234 9064 2656 89</li>
                        
                    </ul>
                </div>
            </div>
            <div class="socials">
                <i class="ri-instagram-line"></i>
                <i class="ri-twitter-line"></i>
                <i class="ri-whatsapp-line"></i>
                <i class="ri-telegram-fill"></i>
            </div>
    
            <div class="credits">
                <p>&copy;2021 Expert Signals</p>
                <p>Built with 
                    <a href="https://Netlify.com">Netlify</a>
                    
                    & 
                    <a href="https://www.jesseakoh.com">
                        Fervent
                    </a>
                </p>
            </div>
        </div>
        
        
    </footer>
       

       <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js" integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ==" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js" integrity="sha512-Q+G390ZU2qKo+e4q+kVcJknwfGjKJOdyu5mVMcR95NqL6XaF4lY4nsSvIVB3NDP54ACsS9rqhE1DVqgpApl//Q==" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js" integrity="sha512-QABeEm/oYtKZVyaO8mQQjePTPplrV8qoT7PrwHDJCBLqZl5UmuPi3APEcWwtTNOiH24psax69XPQtEo5dAkGcA==" crossorigin="anonymous"></script>
       <script src="./js/scroll.js"></script> 
       <script src="./js/app.js"></script>



    </body>
</html>