<main id="today" class="today">
    <div class="wrap">
        <h3>Sign up for free.</h3>
        <h3>Start trading today</h3>
        <input placeholder="Your email..." type="email">
        <a href="signUp.html">
            <button>Sign Up for free</button>
         </a>
    </div>
</main>
