<main id="book">
    <div class="wrap">
         <h3>Sign Up and Claim a free Ebook</h3>
         <a href="signUp.html">
            <button>Sign Up</button>
         </a>
         <div class="image_up">
             <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1611302776l/56780673._SX318_.jpg" alt="">
         </div>
         
    </div>
</main>