<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="post">
        <form action="/create/signal" method="post" enctype="application/json">
            <input type="text" name="name" placeholder="Buy or Sell 0r Hodl">
            <textarea type="text" name="signals" placeholder="Enter Signals"></textarea>
            <button type="submit">Post signal</button>
        </form>
    </div>
</body>
</html>
