* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: #f3f3f7;
  color: #282a33;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  list-style-type: none;
}

header .menu-icon i {
  font-size: 1.3em;
  font-weight: 500;
}

.block {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
}

.block .dashboard {
  width: 100%;
  -webkit-animation-name: bg-color;
          animation-name: bg-color;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  padding: 40px 30px;
  height: 150px;
  border-radius: 10px;
}

.block .dashboard .welcome {
  width: 100%;
}

.block .dashboard .welcome h1 {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.block .signals {
  margin: 20% auto;
  width: 97%;
}

.block .signals h3 {
  color: #282a33;
  font-size: 1.5em;
  padding: 6px;
}

.block .signals .signal-field {
  margin: 7% auto;
  height: 80vh;
  width: 100%;
  border-radius: 10px;
  background: #e7e7ec;
}

.block .learn {
  margin: 5% auto;
  width: 97%;
}

.block .learn .wrap {
  height: 230px;
  margin: 1px 0px;
  border-radius: 12px;
  padding: 30px;
  background: #e7e7ec;
}

.block .learn .wrap h2 {
  font-size: 1.3em;
}

@-webkit-keyframes bg-color {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(#8e2de2), to(#4a00e0));
    background: linear-gradient(to right, #8e2de2, #4a00e0);
  }
  25% {
    background: -webkit-gradient(linear, left top, right top, from(#38ef7d), to(#11998e));
    background: linear-gradient(to right, #38ef7d, #11998e);
  }
  50% {
    background: -webkit-gradient(linear, left top, right top, from(#cc2b5e), to(#753a88));
    background: linear-gradient(to right, #cc2b5e, #753a88);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(#e65c00), to(#f9d423));
    background: linear-gradient(to right, #e65c00, #f9d423);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#4e54c8), to(#8f94fb));
    background: linear-gradient(to right, #4e54c8, #8f94fb);
  }
}

@keyframes bg-color {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(#8e2de2), to(#4a00e0));
    background: linear-gradient(to right, #8e2de2, #4a00e0);
  }
  25% {
    background: -webkit-gradient(linear, left top, right top, from(#38ef7d), to(#11998e));
    background: linear-gradient(to right, #38ef7d, #11998e);
  }
  50% {
    background: -webkit-gradient(linear, left top, right top, from(#cc2b5e), to(#753a88));
    background: linear-gradient(to right, #cc2b5e, #753a88);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(#e65c00), to(#f9d423));
    background: linear-gradient(to right, #e65c00, #f9d423);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#4e54c8), to(#8f94fb));
    background: linear-gradient(to right, #4e54c8, #8f94fb);
  }
}
/*# sourceMappingURL=dashboard.css.map */