* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
      height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .hide {
    display: block  !important;
    overflow: hidden;
  }
  .container{
      width:100%;
      padding:20px 0px;
  }
  .container .signUp{
      width:100%;
      margin: 20px auto;
  }
  .container .signUp h3{
      margin:5% auto;
      text-align: center;
      color: white;
  }
  form{
      margin: 10% 20px;
      padding:20px 20px;
      border-radius: 2%;
      height:auto;
      background-color: white;
      box-shadow: 0px -1px 10px 3px rgb(85, 84, 84);
  }
  .wrap{
      margin:20px 0px;
  }
  .wrap input{
    display: block;
    height: 38px;
    width:100%;
    padding: 0 10px;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
  }
  .submit{
    border-radius: 4px;
    border: none;
    cursor: pointer; 
    display: inline-block;
    height: 38px;
    padding: 0 31px;
    font-size: 13px;
    font-weight: 600;
    color:white;
    background-color: orange;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
  }
  .back{
    margin:0 auto;
    border-radius: 4px;
    border: none;
    transform: translateX(40%);
    cursor: pointer; 
    display: inline-block;
    height: 38px;
    padding: 0 20px;
    font-size: 13px;
        font-weight: 600;
    color:rgb(17, 7, 46);
    background-color:rgb(255, 255, 255);
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
  }
  .loginLink{
    margin:8px 0px;
    font-size: 0.9em ;

  }
  .loginLink a {
    color: rgb(194, 0, 0);
  }