$fore-color :#f30386;
$ben-color:#b756f3;
@mixin align($margin-top){
     margin:$margin-top auto;
}
@mixin buttons($color){
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; 
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background: $color;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}
.divette{
    height: 1%;
    z-index:5;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    border: none;
    background:linear-gradient(left, $fore-color, $ben-color);
}
body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    .svgHome{
        margin-top:-5px;
       position: relative;
       left:0%;
       right:0%;
       width:100%;
       z-index: -5;
    }
}

header{
    height:60vh;
    background-image:url('../images/0003.jfif'), url('../images/0004.png');
    background-position: left, right;
    background-size:200px, 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color:rgb(43, 41, 41);
    background-blend-mode: lighten;
   
    .wrap{
        nav{
            display: none;
        }
        .logo{
            h3{
               span{
                   &:nth-child(1){
                    //    color:$fore-color;
                    color:greenyellow;
                      
                   }
                   &:nth-child(2){
                       color:white;
                   }
               }
            }
        }
        .menu-bar{
            i{
                font-size:1.3em;
                color:white;
            }
           
        }
        display: flex;
        align-content: center;
        justify-content: space-between;
        width:95%;
        padding:25px 0px;
        @include align(0px)
    }
    .floatingBG{
        img{
            width:2em;
            &:nth-child(1){
             position:absolute;
             z-index:-5;
             top:8%;
             left:10%;
             color:greenyellow;
            }
            &:nth-child(2){
                position:absolute;
                z-index:-5;
            }
            &:nth-child(3){
                position:absolute;
                z-index:-5;
            }
            &:nth-child(4){
                position:absolute;
                z-index:-5;
            }
            &:nth-child(5){
                position:absolute;
                z-index:-5;
            }
            &:nth-child(6){
                position: absolute;
                z-index:-5;
            }
        }
    }
    .start{
        .beginTxt{
            width:95%;
            @include align(10%);
            text-align: center;
            h2{
                font-size:1.7em;
                color:rgb(240, 231, 231);
             
                span{
                    font-style: italic;
                    &:nth-child(1){
                        color:$fore-color;
                    }
                    &:nth-child(2){
                        color: $ben-color;
                    }
                }
                
            }
            button{
                @include buttons(rgb(37, 219, 37));
               margin:10% 0px;
               color:white;
            }
         
        }
        .image{
            width:100%;
            margin:10px;
            @include align(-29%);
            img{
                width:100%;
            }
        }
    }
    
}
