$fore-color :rgb(255, 255, 255);


@mixin align($margin-top){
     margin:$margin-top auto;
}
@mixin buttons($color){
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; 
    display: inline-block;
    height: 38px;
    padding: 0 31px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background: $color;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.hide{
    display:block  !important;
}
.menu{
    width:100%;
    position:fixed;
    z-index:24;
    justify-content: center;
     height:110%;
    top:0;
    color: rgb(0, 0, 0);
    background:rgb(255, 255, 255);
    text-align: center;
    display:none;
    overflow:hidden;
    ul{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:20px;
        margin:10% 0px;
        li{
            list-style-type: none;
            padding:20px 0px;
            font-size:1.4em;
        }
    }
    .round{
        width:300px;
        height:300px;
        border-radius:100%;
        z-index:-22;
        position:fixed;
        top:30%;
        left:8%;
        animation: moveBalls 9s forwards infinite;
        background:rgba(0, 128, 0, 0.137);
    }
    .round1{ 
        width:150px;
        height:150px;
        border-radius:100%;
        z-index:-22;
        position:fixed;
        top:10%;
        right:10%;
        background:rgba(255, 166, 0, 0.275);
        animation: moveBall2 4s forwards infinite;
    }
    .round2{
        width:100px;
        height:100px;
        border-radius:100%;
        background:rgba(51, 238, 238, 0.199);
        z-index:-22;
        position:fixed;
        bottom:15%;
        left:10%;
        animation:moveFast 6s ease-in-out infinite;
    }
}
header{
    height:75vh;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-color:$fore-color;
    background-attachment: fixed;
    animation:burst 3s  infinite;
    background-image: url('https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    .wrap{
        nav{
            display: none;
        }
        .logo{
            h3{
               span{
                       color:rgb(245, 245, 245);
                       &:nth-child(1){
                       color:orange;
                       }
               }
            }
        }
        .menu-bar{
            i{
                font-size:1.3em;
                font-weight:700;
                z-index:30;
                color:rgb(255, 255, 255);
            }
            z-index:30;
        }
        transition: 0.3s ease-in-out;
        display: flex;
        background:transparent;
        align-content: center;
        justify-content: space-between;
        width:100%;
        position: fixed;
        z-index:24;
        top:0px;
        padding:20px 20px;
        @include align(0px)
    }
    .start{
        padding:30% 0px;
        margin:0 0px;
        .beginTxt{
            width:95%;
            @include align(0);
            text-align: center;
            h2{
                font-size:1.4em;
                z-index: -9;
                color:rgb(255, 255, 255);   
            }
            button{
                @include buttons(orange);
               margin:5% 0px;
               outline: none;
               border:none;
               color:white;
               font-weight:2em;
            }
        }

    }  
}
#begin{
   background-repeat: 2;
   margin-top: 10%;
    .begin{
        padding:10px 0px;
        .wrap{
            border-radius: 9px;
            width:90%;
            text-align: center;
            box-shadow:1px 1px 20px 1px rgb(192, 192, 192);
            padding:20px 10px;
            @include align(10px);
            .text_h3{
                font-size:0.9em;
                font-weight:600;
                margin:2% auto;
            }
             button{
                 @include buttons(orange);
                 border:none;
                 color: white;
                 margin:3% 0px;
             }
            .image_up{
                width:100%;
                
                 @include align(5%);
                img{
                    width:90%;
                 
                    
                }
            }
        }
    }
}
#about{
    width:100%;
    .wrap{
        width:95%;
        @include align(10%);
        .text_p{
            padding:20px;
             border-radius:5px;
             p{
                 font-size: 0.9em;
             }
             h5{
                 color:orange;
                 margin:4% 0px;
                 a{
                     text-decoration: none;
                     color:orange;
                 }
             }
             .image_up{
                width:100%;
                
                 @include align(5%);
                img{
                    width:100%;
                 
                    
                }
            }
        }
        }
        
}
.ad{
    width:100%;
    .wrap{
        width:95%;
        @include align(19%);
       h4{
           text-align: center;
           font-size:1.2em;
           color:purple;
       }
        .text_p{
            padding:20px;
             border-radius:5px;
             p{
                 font-size: 0.9em;
             }
             .image_up{
                width:100%;
                
                 @include align(5%);
                img{
                    width:100%;
                 
                    
                }
            }
        }

    }
}

