$fore-color :#8624c3;
$ben-color:#f30386;

@mixin align($margin-top){
     margin:$margin-top auto;
}

@mixin buttons($color){
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; 
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background: $color;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}

body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    .svgHome{
       position: relative;
       left:0px;
       margin-top:9%;
       width:100%;
       z-index: -5;
    }
}
.menu{
    width:100%;
    height:15%;
    background:whitesmoke;
   display:none;
    ul{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        padding:5px;
        li{
            list-style-type: none;
        }
    }
}

.divette{
    background:rgb(36, 36, 36);
    width:100%;
    height:2%;
    position:fixed;
    top:0px;
}

header{
    height:auto;
    background-size:200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background:linear-gradient(bottom,$fore-color, $ben-color);
   
    .wrap{
        nav{
            display: none;
        }
        .logo{
            h3{
               span{
                   &:nth-child(1){
                    //    color:$fore-color;
                    color:rgb(0, 0, 0);
                      
                   }
                   &:nth-child(2){
                       color:white;
                   }
               }
            }
        }
        .menu-bar{
            i{
                font-size:1.3em;
                font-weight:700;
                color:rgb(17, 17, 17);
            }
           
        }
        display: flex;
        align-content: center;
        justify-content: space-between;
        width:95%;
        padding:20px 0px;
        @include align(0px)
    }
    .start{
        .beginTxt{
            width:98%;
            @include align(10%);
            text-align: center;
            h2{
                font-size:1.7em;
                color:rgb(255, 255, 255);
                
            }
            button{
                @include buttons(rgb(255, 255, 255));
               margin:10% 0px;
               font-weight:2em;
             
            }
         
        }
        .image{
            width:100%;
            margin:10px;
            @include align(-10%);
            img{
                width:100%;
            }
        }
    }
    
}
