* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.hide {
  display: block  !important;
}

.menu {
  width: 100%;
  position: fixed;
  z-index: 24;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 110%;
  top: 0;
  color: black;
  background: white;
  text-align: center;
  display: none;
  overflow: hidden;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  margin: 10% 0px;
}

.menu ul li {
  list-style-type: none;
  padding: 20px 0px;
  font-size: 1.4em;
}

.menu .round {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  z-index: -22;
  position: fixed;
  top: 30%;
  left: 8%;
  -webkit-animation: moveBalls 9s forwards infinite;
          animation: moveBalls 9s forwards infinite;
  background: rgba(0, 128, 0, 0.137);
}

.menu .round1 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  z-index: -22;
  position: fixed;
  top: 10%;
  right: 10%;
  background: rgba(255, 166, 0, 0.275);
  -webkit-animation: moveBall2 4s forwards infinite;
          animation: moveBall2 4s forwards infinite;
}

.menu .round2 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: rgba(51, 238, 238, 0.199);
  z-index: -22;
  position: fixed;
  bottom: 15%;
  left: 10%;
  -webkit-animation: moveFast 6s ease-in-out infinite;
          animation: moveFast 6s ease-in-out infinite;
}

header {
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  background-attachment: fixed;
  -webkit-animation: burst 3s  infinite;
          animation: burst 3s  infinite;
  background-image: url("https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

header .wrap {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 24;
  top: 0px;
  padding: 20px 20px;
  margin: 0px auto;
}

header .wrap nav {
  display: none;
}

header .wrap .logo h3 span {
  color: whitesmoke;
}

header .wrap .logo h3 span:nth-child(1) {
  color: orange;
}

header .wrap .menu-bar {
  z-index: 30;
}

header .wrap .menu-bar i {
  font-size: 1.3em;
  font-weight: 700;
  z-index: 30;
  color: white;
}

header .start {
  padding: 30% 0px;
  margin: 0 0px;
}

header .start .beginTxt {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

header .start .beginTxt h2 {
  font-size: 1.4em;
  z-index: -9;
  color: white;
}

header .start .beginTxt button {
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: 38px;
  padding: 0 31px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background: orange;
  margin: 5% 0px;
  outline: none;
  border: none;
  color: white;
  font-weight: 2em;
}

#begin {
  background-repeat: 2;
  margin-top: 10%;
}

#begin .begin {
  padding: 10px 0px;
}

#begin .begin .wrap {
  border-radius: 9px;
  width: 90%;
  text-align: center;
  -webkit-box-shadow: 1px 1px 20px 1px silver;
          box-shadow: 1px 1px 20px 1px silver;
  padding: 20px 10px;
  margin: 10px auto;
}

#begin .begin .wrap .text_h3 {
  font-size: 0.9em;
  font-weight: 600;
  margin: 2% auto;
}

#begin .begin .wrap button {
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: 38px;
  padding: 0 31px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background: orange;
  border: none;
  color: white;
  margin: 3% 0px;
}

#begin .begin .wrap .image_up {
  width: 100%;
  margin: 5% auto;
}

#begin .begin .wrap .image_up img {
  width: 90%;
}

#about {
  width: 100%;
}

#about .wrap {
  width: 95%;
  margin: 10% auto;
}

#about .wrap .text_p {
  padding: 20px;
  border-radius: 5px;
}

#about .wrap .text_p p {
  font-size: 0.9em;
}

#about .wrap .text_p h5 {
  color: orange;
  margin: 4% 0px;
}

#about .wrap .text_p h5 a {
  text-decoration: none;
  color: orange;
}

#about .wrap .text_p .image_up {
  width: 100%;
  margin: 5% auto;
}

#about .wrap .text_p .image_up img {
  width: 100%;
}

.ad {
  width: 100%;
}

.ad .wrap {
  width: 95%;
  margin: 19% auto;
}

.ad .wrap h4 {
  text-align: center;
  font-size: 1.2em;
  color: purple;
}

.ad .wrap .text_p {
  padding: 20px;
  border-radius: 5px;
}

.ad .wrap .text_p p {
  font-size: 0.9em;
}

.ad .wrap .text_p .image_up {
  width: 100%;
  margin: 5% auto;
}

.ad .wrap .text_p .image_up img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */